USE [movimientos]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 2022-08-07 11:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLIE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERS_ID] [int] NULL,
	[CLIE_CONTRASENIA] [varchar](20) NULL,
	[CLIE_ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CLIE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 2022-08-07 11:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[CUEN_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIE_ID] [int] NULL,
	[CUEN_NUMERO] [varchar](50) NULL,
	[CUEN_TIPO] [varchar](50) NULL,
	[CUEN_SALDO_INICIAL] [float] NULL,
	[CUEN_ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO]    Script Date: 2022-08-07 11:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO](
	[MOVI_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUEN_ID] [int] NULL,
	[MOVI_FECHA] [datetime] NULL,
	[MOVI_VALOR] [float] NULL,
	[MOVI_SALDO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 2022-08-07 11:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[PERS_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERS_NOMBRE] [varchar](50) NULL,
	[PERS_GENERO] [varchar](20) NULL,
	[PERS_EDAD] [int] NULL,
	[PERS_IDENTIFICACION] [varchar](20) NULL,
	[PERS_DIRECCION] [varchar](500) NULL,
	[PERS_TELEFONO] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[PERS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([CLIE_ID], [PERS_ID], [CLIE_CONTRASENIA], [CLIE_ESTADO]) VALUES (1, 1, N'1234', 1)
INSERT [dbo].[CLIENTE] ([CLIE_ID], [PERS_ID], [CLIE_CONTRASENIA], [CLIE_ESTADO]) VALUES (2, 2, N'5678', 1)
INSERT [dbo].[CLIENTE] ([CLIE_ID], [PERS_ID], [CLIE_CONTRASENIA], [CLIE_ESTADO]) VALUES (3, 3, N'1245', 1)
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[CUENTA] ON 

INSERT [dbo].[CUENTA] ([CUEN_ID], [CLIE_ID], [CUEN_NUMERO], [CUEN_TIPO], [CUEN_SALDO_INICIAL], [CUEN_ESTADO]) VALUES (1, 1, N'478758', N'Ahorros', 2000, 1)
INSERT [dbo].[CUENTA] ([CUEN_ID], [CLIE_ID], [CUEN_NUMERO], [CUEN_TIPO], [CUEN_SALDO_INICIAL], [CUEN_ESTADO]) VALUES (2, 2, N'225487', N'Corriente', 100, 1)
INSERT [dbo].[CUENTA] ([CUEN_ID], [CLIE_ID], [CUEN_NUMERO], [CUEN_TIPO], [CUEN_SALDO_INICIAL], [CUEN_ESTADO]) VALUES (3, 3, N'495878', N'Ahorros', 0, 1)
SET IDENTITY_INSERT [dbo].[CUENTA] OFF
GO
SET IDENTITY_INSERT [dbo].[MOVIMIENTO] ON 

INSERT [dbo].[MOVIMIENTO] ([MOVI_ID], [CUEN_ID], [MOVI_FECHA], [MOVI_VALOR], [MOVI_SALDO]) VALUES (1, 1, CAST(N'2022-08-07T11:21:00.000' AS DateTime), -575, 1425)
INSERT [dbo].[MOVIMIENTO] ([MOVI_ID], [CUEN_ID], [MOVI_FECHA], [MOVI_VALOR], [MOVI_SALDO]) VALUES (2, 2, CAST(N'2022-08-07T11:22:00.000' AS DateTime), 600, 700)
INSERT [dbo].[MOVIMIENTO] ([MOVI_ID], [CUEN_ID], [MOVI_FECHA], [MOVI_VALOR], [MOVI_SALDO]) VALUES (3, 3, CAST(N'2022-08-07T11:23:00.000' AS DateTime), 150, 150)
SET IDENTITY_INSERT [dbo].[MOVIMIENTO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONA] ON 

INSERT [dbo].[PERSONA] ([PERS_ID], [PERS_NOMBRE], [PERS_GENERO], [PERS_EDAD], [PERS_IDENTIFICACION], [PERS_DIRECCION], [PERS_TELEFONO]) VALUES (1, N'José Lema', N'Masculino', 20, N'1234567893', N'Otavalo sn y principal', N'098254785')
INSERT [dbo].[PERSONA] ([PERS_ID], [PERS_NOMBRE], [PERS_GENERO], [PERS_EDAD], [PERS_IDENTIFICACION], [PERS_DIRECCION], [PERS_TELEFONO]) VALUES (2, N'Marielena Montalvo', N'Femenino', 20, N'1234567892', N'Amazonas y NNUU', N'097548965')
INSERT [dbo].[PERSONA] ([PERS_ID], [PERS_NOMBRE], [PERS_GENERO], [PERS_EDAD], [PERS_IDENTIFICACION], [PERS_DIRECCION], [PERS_TELEFONO]) VALUES (3, N'Juan Osorio', N'Masculino', 20, N'1234567891', N'13 de Junio y equinoccial', N'098874587')
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
GO
